main {
  display: flex;
  padding: 30px;
}

#sidebar { flex: 0.3; }
#tabs    { flex: 0.7; }

.tab {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.page {
  padding: 20px;
}

.page:not(.active) { display: none !important; }
.tab.active {
  background: lightgray;
}
