main {
  display: flex;
  padding: 30px;
  background: #D0D0D0;
  border: 1px solid #333333;
}

log {
  position: absolute;
  bottom: 5%;
  padding: 10px;
  background: #D0D0D0;
  border: 1px solid #333333;
}

body {
  /*padding: 30px;*/
  background: #E0E0E0;
  /* border: 1px solid #333333; */
}

#sidebar { flex: 0.3; }
#tabs    { flex: 0.7; }

.tab {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.page {
  padding: 20px;
}

.page:not(.active) { display: none !important; }
.tab.active {
  background: #808080;
}

/* This would eventually be hidden completely */
* { opacity: 1; transition: opacity 2.0s ease; }
.hidden { opacity: 0.3 !important; }

#ring {
  position: relative;
  display: inline-block;
}

#mana {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
}

#critter-hp { font-family: monospace; }

log {
  overflow-y: scroll;
  height: 100px;
}
log .wrapper {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100%;
}
log .wrapper .log-message {
}

#slots {
  display: flex;
  padding-bottom: 15px;
}
#slots .slot {
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.4);
  margin-right: 10px;
}

#ring-intro-btn {
  border: 1px solid rgba(0,0,0,0.5);
  display: inline-block;
  padding: 5px 20px;
  background: rgba(0,0,0,0.05);
  cursor: pointer;
  position: relative;
}
#ring-intro-btn .progress {
  background: rgba(0,0,255,0.2);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
