main {
  display: flex;
  padding: 30px;
  background: #D0D0D0;
  border: 1px solid #333333;
}

log {
  position: absolute;
  bottom: 5%;
  padding: 10px;
  background: #D0D0D0;
  border: 1px solid #333333;
}

body {
  /*padding: 30px;*/
  background: #E0E0E0;
  /* border: 1px solid #333333; */
}

#sidebar { flex: 0.3; }
#tabs    { flex: 0.7; }

.tab {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.page {
  padding: 20px;
}

.page:not(.active) { display: none !important; }
.tab.active {
  background: #808080;
}

/* This would eventually be hidden completely */
* { opacity: 1; transition: opacity 2.0s ease; }
.hidden { opacity: 0.3 !important; }

#ring {
  position: relative;
  display: inline-block;
}

#mana {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translate(-50%, -50%);
}

#critter-hp { font-family: monospace; }
